*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navStyle{
	font-family: open-sans, sans-serif;
	font-size: 12px;
	font-weight: 700;
}



.navSize{
    width: 155px;
    background-color: transparent;
    height: 80px;
    position: relative;
    line-height: 65px;
}

.navSize2{
    width: 196px;
    background-color: transparent;
    height: 80px;
    position: relative;
    line-height: 65px;
}

.navSize3{
    width: 140px;
    background-color: transparent;
    height: 80px;
    position: relative;
    line-height: 65px;
}

.navSizeDrop{
    width: 200px;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}
.dropdown-toggle::after {
    display:none;
}

.dropdown-menu{
	left:-40px;
	right:-40px;
}

li .navScale a:hover
{
	background-color: #D51130;
	color: white;
}

li .navScale .firstLink:hover{
	background-color: #D51130;
    color: white !important;
}

li .navScale .firstLink{
	background-color: #f2f2f2;
}

.linkColor{
	color: grey;
}

.linkColor:hover{
	color: white;
}

.mainLink:hover{
	color: #D51130;
}

.mainLink{
	color: lightgrey;
}

.cardText1{
	margin-top: 163px;
    font-size: 16px;
    line-height: 20px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}

.cardText2{
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}


.img-wrapper{
	position: relative;
}

.imagePosition{
	transform: translateY(-38px);

}

.dateWrapper{
	width: 100px;
    background-color: #D51130;
    padding-bottom: 6px;

}


.baseFont{
	font-size: 13px;
	font-weight:300;
}

.greyBg{
	position: relative;
	background-color: #f2f2f2;	
}

.effectFooter:hover{
	color: #D51130;
}

.mainTitle{
    font-size: 70px;
    line-height: 60px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}

#subTitle{
    font-size: 32px;
    line-height: 38px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}

.pageOpening{
	background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    margin-top: 88px;
    position: relative;
}

.sectionMargin{
	margin-bottom: 60px;
	margin-top: 160px;
}

 .branchenIntro{
    z-index: 4;
/*    width: 1160px;*/
    min-height: 173px;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
/*    margin-left: 141px;*/
    margin-top: 157px;
    position: relative;
}

.branchenTitle{
    font-size: 75px;
    line-height: 84px;

    font-weight: 500;
}

.branchenSubTitle{
    font-size: 32px;
    line-height: 38px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}


.branchenSecond{
	position: relative;
	background-color: white;
	min-height: 434px;
	padding-bottom: 56px;
}

.branchenInsideHeading {
    font-size: 33px;
    line-height: 53px;
    font-family: open-sans, sans-serif;
    font-weight: 100 !important;
    color: #666;
    margin-top: 85px;
}

.branchenSubHeading {
    font-size: 16px;
    line-height: 24px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
/*    width: 1000px;*/
    text-align: center;
    margin-left: 93px;
}

.breakP {
    font-size: 13px;
    line-height: 20px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}


.breakP2 {
    font-size: 13px;
    line-height: 30px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}

.branchenNext{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #666;
}

.imgQuote1{
	position: relative;
	transform: rotate(180deg);
	top: 10px;

}

.imgQuote2{
	position: relative;
	bottom: 10px;
}

.branchenNext2{
    font-size: 17px;
    line-height: 35px;
    font-weight: 700;
    color: #666;
    padding-top: 30px;
}

.datev{
	min-height: 86px;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 84px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    padding-top: 195px;
    padding-bottom: 82px;
}

.datevMenu{
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
}

.datevMenu2{
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	color: #D51130;
}

.datevMenuHead{
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
}

.datevContent{
	font-size: 13px;
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    width: 659px;
    min-height: 96px;
    padding-top: 72px;
}

.datevButton{
	width: 360px;
    min-height: 30px;
    background-color: #D51130;
    padding-top: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    margin-top: 25px;
    font-size: 13px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}


.srFocusInsideHeading{
    font-size: 35px;
    line-height: 35px;
    color: #DD2516;
    font-weight: 300;
    margin-top: 105px;
}


 .srFocusInsideHeading2{
    font-size: 35px;
    line-height: 35px;
    color: #666666;
    font-weight: 300;
}



.focusBox{
    width: 360px;
    background-color: #DD2516;
    position: relative;

}

.focusBox2{
    width: 640px;
    /*background-color: #DD2516;*/
    position: relative;
    background-color: white;
    padding-top: 50px;


}

.srServer{
    font-size: 35px;
    line-height: 15px;
    font-weight: 800;
    color: white;

}

.srManage{
    font-size: 16px;
    line-height: 19px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    margin-top: 61px;   
}


.srManage2{
    font-size: 16px;
    line-height: 19px;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 0px;   
}

.srFooter{
    padding-bottom: 70px;
}

.srFooter2{
    padding-bottom: 70px;
    padding-top: 109px;
}

.sr_partition{
    width: 141px;
}


table.table th {
    padding-top: 1.1rem;
    padding-bottom: 1.5rem;
}



table.table th{
    border-width: 0;
}

table.table td{
    padding-bottom: 0;
}

.checkBox{
    width: 20px;
    height: 20px;
    background-color: #DD2516;
    position: relative;
    left: 57px;
    top: 10px;
}

.thFont{
    min-height: 30px;
    color: #DD2516;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}


tr.noBorder td {
  border: 0 !important;
}


.srButton{
    width: 260px;
    min-height: 29px;
    background-color: #D51130;
    padding-top: -4px;
    color: #FFFFFF;
    text-align: center;
    line-height: 44px;
    font-weight: 700;
    font-size: 14.5px;
}

.circle{
    width: 196px;
    height: 196px;
    border-style: solid;
    border-width: 2px;
    border-color: #DD2516;
    background-color: transparent;
    border-radius: 50%;
    padding-bottom: 26px;   
}

.circleContent{
    width: 160px;
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
    margin-left: 17px;
}

.circleText{
    font-size: 35px;
    line-height: 8px;
    color: #DD2516;
    font-weight: 700;
    padding-top: 10px;
}


.circleSubText{
    font-size: 14px;
    line-height: 17px;
}

.responseEvent{
    margin-left: 2rem !important;
}


.responseEvent2{
    margin-left: 0rem !important;
}


.slideFont{
    font-size: 70px;
    line-height: 70px;
    width: 1000px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 800;
    font-family: open-sans, sans-serif;
}

.buttonSlide {
    width: 230px;
    min-height: 30px;
    background-color: #D51130;
    padding-top: 21px;
    padding-bottom: 21px;
    color: #FFFFFF;
    text-align: center;
    line-height: 0px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
}


.scrollerPadding{
    padding-top: 200px;
    padding-bottom: 200px;
}


.firstItem{
    font-size: 35px;
    margin-top: 100px;
}


.example{
    height: 210px;
}

.maskImg{
    position: relative;
}

.maskImg:after{
    content: "";
    background: linear-gradient(transparent,rgba(0,0,0,1));
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;

}


.aktContent{
    font-size: 14px;
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    min-height: 96px;
}

.aktContent2{
    width: 460px;
    height: 400px;
    margin-top: 72px;
    background: url("https://user.ffuf.de/kewang/sr/images/csm_hotelcamp2017_powered_by_hsma_und_tourismuszukunft_201710122256300910586_sharingbox_4f6789d299.jpg?crc=3815528180") no-repeat center center;
    background-size: cover;
}


.aktContent3{
    width: 460px;
    height: 400px;
    margin-top: 72px;
    background: url("https://user.ffuf.de/kewang/sr/images/fotolia_129281536.jpg?crc=170063335") no-repeat center center;
    background-size: cover;
}


.aktContent4{
    width: 460px;
    height: 400px;
    margin-top: 72px;
    background: url("https://user.ffuf.de/kewang/sr/images/fotolia_169357911.jpg?crc=137610761") no-repeat center center;
    background-size: cover;
}

.aktWrapper{
    margin-top: 72px;
    width: 100px;
    background-color: #D51130;
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #666;
    font-family: open-sans, sans-serif;

}

.likeAkt{
    font-weight: 300;
    font-size: 12px;
    color: #666;
    opacity: 0.8;  
}

.zeiterHeading{
    font-size: 35px;
    line-height: 24px;
    font-weight: 300;
    padding-top: 40px;
    color: #666;
}


.zeiterBenefit {
    width: 98px;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 19px 13px 11.328905511811058px 14px;
    text-align: center;
    font-size: 12px;
}


.timeCard{
    font-size: 17px;
    line-height: 24px;
/*    font-family: open-sans, sans-serif;*/
    font-weight: 700;
}

.timeContent {
    font-size: 14px;
    line-height: 21px;
/*    font-family: open-sans, sans-serif;*/
    font-weight: 300;
}

.timeContent2 {
    font-size: 16px;
    line-height: 21px;
/*    font-family: open-sans, sans-serif;*/
    font-weight: 300;
}

.zeiterList{
    width: 25px;
    height: 25px;
    min-height: 23px;
    border-width: 0px;
    border-color: transparent;
    background-color: #FFFFFF;
    padding-top: 2px;
    color: #D51130;
    text-align: center;
    font-weight: 700;
}

.listContent{
    margin-bottom: 0.76rem
}
























@media only screen and (max-width: 600px){ 


    .responseArrow,.centerImg{
        width: 0px;
        height: 0px;
        margin-top: 0px !important;
    }

    .scrollSub{
        width: 339px !important
    }


    .imgResponse{
        height: 540px !important;
    }

    .carousel-item{
        height: 1000px !important;
    }


    .firstItem{
        font-size: 35px;
        margin-top: 60px;
    }

    .scrollerPadding{
        padding-top: 85px;
        padding-bottom: 0px;
    }


    .slideFont{
        font-size: 25px;
        line-height: 25px;
        width: 320px;
        background-color: transparent;
        color: #ffffff;
        font-weight: 800;
        font-family: open-sans, sans-serif;
    }


    .example{
        height: 80px !important;
    }

    .responseEvent{
       margin-left: 3.14rem !important;
       font-size: 13px !important;
    }

    .hook{
        width: 0px;
        height: 0px;
    }

    .dateResponse{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .img-wrapper{
        height: 200px !important;
    }

    .buttonAkt{
        width: 302px !important;
    }

    .testiPosition{
        right: 0px !important;
    }

    .footerImg{
        padding-top: 0px !important;
    }

    .footerImg2{
        padding-bottom: 10px !important;
    }

    .bgKontak{
        background-color: grey !important;
    }
}



@media (min-width:601px) and (max-width: 769px){ 

    .mediumResFooter{
        padding: 0px !important;
    }

    .mediumResText{
        font-size: 11px !important;
    }

    .mediumKontakRes{
        font-size: 15px !important;
    }

    .imgResponse{
        height: 700px !important;
    }

    .slideFont{
        font-size: 55px;
        line-height: 55px;
        width: 320px;
        background-color: transparent;
        color: #ffffff;
        font-weight: 800;
        font-family: open-sans, sans-serif;
    }

    .responseArrow{
        width: 0px;
        height: 0px;
    }


    .scrollerPadding{
        padding-bottom: 20px;
    }
}

